[Unit]
Description=Website Backend
After=network.target

[Service]
ExecStart=/home/pi/website/website
WorkingDirectory=/home/pi/website
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target