[Unit]
Description=Website Frontend
After=network.target

[Service]
ExecStart=serve -s /home/pi/website/frontend/build
WorkingDirectory=/home/pi/website
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target