@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  align-content: center;
  background-color: #ebdcec;
  padding: 3px, 3px, 3px, 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
    background-color: '#fff';
    border-top: '2px dashed #8c8b8b';
}

.centered {
  text-align: center;
}

.black {
  color: #000000;
}

td.list-item {
  background-color: 'purple';
  color: 'white';
}

p.excerpt {  
  border: 2px solid #0066FF;  
  background-color:#c586ca;  
  padding:5px;  
  margin-top:5px;  
  margin-bottom:5px;  
  margin-left:20px;  
  margin-right:20px;  
}

a {
  text-decoration: none;
  color: #000000;
  border: double;
  border-color: #4286f4;
  font-size-adjust: 130%;
}

h1 {
  color: #530c7c;
}

h2 {
  color: #530c7c;
}

h3 {
  color: #530c7c;
}

h4 {
  color: #530c7c;
}

h5 {
  color: #530c7c;
}

h6 {
  color: #530c7c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
